@mixin Center($jcontent:center,$aitems:center){
    display: flex;
    justify-content: $jcontent;
    align-items: $aitems;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: Helvetica, sans-serif;
}

html,body{
    height: 100%;
    width: 100%;
    background-color: black;
}

main{
    height: 100%;
    width: 100%;
    @include Center();
    #card{
        height: 80%;
        width: 30%;
        background-color: cyan;
        border-radius: 5px;
        position: relative;
        overflow: hidden;

        #full-screen{
            width: 100%;
            height: 100%;
            background-color: red;
            position: absolute;
            display: none;
            background-position: center;
            background-size: cover;
            .scrollbar{
                width: 90%;
                height: 10px;
                background-color: #fff;
                margin: 5px 15px;
                border-radius: 20px;
                .inner{
                    width: 0%;
                    height: 100%;
                    border-radius: 20px;
                    background-color: green;
                }
            }
        }
        .elem{
            width: 100%;
            height: 20%;
            border-bottom:2px solid #dadada;
            white-space: nowrap;
            overflow-x: auto;
            overflow-y: hidden;

            .story{
                width: 7.5vw;
                height: 15vh;
                border: 2px solid royalblue;
                border-radius: 50%;
                display: inline-block;
                overflow: hidden;
                margin: 2px 10px; 

                img{
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    object-position: center;
                }
            }           
        }
        .elem::-webkit-scrollbar{
          display: none;   
        }
    }
}