@mixin Center($jcontent:center,$aitems:center){
    display: flex;
    justify-content: $jcontent;
    align-items: $aitems;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: Helvetica, sans-serif;
}

html,body{
    height: 100%;
    width: 100%;
    background-color: black;
}

body{
    display: flex;
    justify-content: center;
}

main{
    height: 100%;
    width: 30vw;
    background: linear-gradient(to right bottom, rgb(26, 26, 26), rgb(30, 30, 30), black);
    padding: 20px;
    // overflow: hidden;

    #Reels{
        border-radius: 10px;
        overflow: auto;
        scroll-snap-type: y mandatory;
        scroll-behavior: smooth;

        .musie{
            position: absolute;
            right: 0px;
            background-color: rgba(128, 128, 128, 0.492);
            width: 50px;
            height: 50px;
            border-radius: 50%;
            @include Center();
            z-index: 5;

            i{
                font-size: 20px;
                pointer-events: none;
            }
        }
        
        .reel{
            position: relative;
            overflow: hidden;
            scroll-snap-align: start;
            scroll-snap-stop: always;
            video{
                width: 100%;
                height: 100vh;
            }
            .section{
                position: absolute;
                padding: 5px;
                bottom: 5%;
                width: 100%;
                .Profile{
                    @include Center(flex-start,center);
                    gap: 10px;
                    img{
                        width: 50px;
                        height: 50px;
                        border: 2px solid white;
                        border-radius: 50%;
                        object-fit: cover;
                        object-position: center;
                    }
                    h1{
                        font-size: 1.3rem;
                    }
                    button{
                        padding: 5px;
                        border-radius: 10px;
                        border: 2px solid white;
                        background-color: black;
                    }
                    button:active{
                        scale: 0.95;
                    }
                }
                p{
                    margin-top: 5%;
                }
            }
            .right{
                padding-right: 10px;
                position: absolute;
                right: 0;
                top: 52%;
                @include Center();
                flex-direction: column;
                text-align: center;
                gap: 10px;
                i{
                    pointer-events: none;
                    font-size: 30px;

                }
                p{
                    pointer-events: none;
                    font-size: 15px;
                }
            }
        }
    }
}


#Reels::-webkit-scrollbar{
    display: none;
}

@media (max-width: 450px){
    main{
        width: 100%;
        height: 100%;
    }
}