*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

main{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    gap: 20px;
}

button{
    background-color: crimson;
    color: white;
    border: none;
    border-radius: 50px;
    font-size: 30px;
    font-weight: 500;
    padding: 20px;
    position: relative;
    z-index: 9;
}


button:active{
    scale: 0.95;
}

h1{
    white-space: nowrap;
}