*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: Helvetica, sans-serif;
}

html,body{
    height: 100%;
    width: 100%;
    background-color: black;
}

main{
    height: 100%;
    width: 100%;
    .elem{
        display: flex;
        align-items: center;
        width: 100%;
        height: 20%;
        border-bottom:2px solid white;
        position: relative;
        mix-blend-mode: difference;
        cursor: none;
        h1{
            font-size: 3vw;
            z-index: 4;
        } 
        img{
            position: absolute;
            height: 90%;
            border: 2px solid white;
            border-radius: 50%;
            opacity: 0;
            transition: all linear 0.2s;
            z-index: 2;
            transform: translate(-50%);
        }
    }
}