@mixin Center($aitems:center,$jcontent:center){
    display: flex;
    align-items: $aitems;
    justify-content: $jcontent;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

html,body{
    width: 100%;
    height: 100%;
    
}

html{
    font-size: clamp(14px,4vw ,18px);
}

main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    // background-color: gray;
    position: relative;
    padding: 1rem;
    mix-blend-mode: difference;
    .curser{
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: black;
        position: absolute;
        z-index: 9;

    }

    .card{
        border-radius: 50px;
        overflow: hidden;  
        border: 0.5rem solid black;
        background-color: #fff;
        width: 100%;
        height: 80%;
        background-color: black;
        max-height: 450px;
        .Profile{
            position: relative;
            height: 50%;
            width: 100%;
            overflow: hidden;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
            .Tags1{
                position: absolute;
                text-align: center;
                left: 50%;
                top: 0;
                background-color: blue;
                border: 0.3rem solid black;
                padding: 0.4rem 1rem;
                border-radius: 0 0 20px 20px;
                font-size: 2rem;
                transform: translateY(-10%) translateX(-50%);
            }
            .Tags2{
                position: absolute;
                bottom: 0;
                left: 30%;
                background-color: black;
                color: white;
                padding: 0.4rem 1rem;
                border-radius: 20px 20px 0 0;
                font-size: 2rem;
            }
        }

        h1{
            font-size: 3rem;
            padding: 1rem;
        }
        h3{
            font-size: 2rem;
            padding:  0 1rem;
        }
        .inner{
            margin-top: 1rem;
            padding: 1rem;
            border-radius: 20px;
            background-color: rgba(128, 128, 128, 0.362);
            width: 100%;
            @include Center(center,space-between);
            .left{
                @include Center();
                flex-direction: column;
                gap: 1rem;
                font-size: 1.5rem;
            }
            .right{
                @include Center();
                flex-direction: column;
                gap: 1rem;
                font-size: 1.5rem;
                .Innesider{
                    @include Center();
                    gap: 1rem;
                    .circle{
                        height: 30px;
                        width: 30px;
                        background: radial-gradient( #7E32FF,transparent);
                        border-radius: 50%;
                        @include Center();
                        .InsideCircle{
                            background: #7E32FF;
                            height: 20px;
                            width: 20px;
                            border-radius: 50%;
                        }
                    }
                    .circle:nth-child(1){
                        background: radial-gradient( green,transparent);
                        .InsideCircle{
                            background: linear-gradient(to right,green,rgb(0, 255, 0));
                        }
                    }
                }
            }
        }

    }
}

@media (min-width: 400px) and (max-width: 900px){
    main{
        .card{
            width: 40%;
            .Profile{
                .Tags1{
                    font-size: 1rem;
                }
                .Tags2{
                    font-size: 1rem;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
            h1{
                font-size: 1.5rem;
            }
            h3{
                font-size: 1rem;
            }
            .inner{
                .left{
                    font-size: 1rem;
                }
                .right{
                    font-size: 1rem;
                    .Innesider{
                        gap: 0.5rem;
                    }
                }
            }
        }
    }
}

@media (min-width: 900px) and (max-width: 1600px){
    main{
        .card{
            width: 30%;
            height: 90%;
            // overflow: scroll;
            .Profile{
                .Tags1{
                    font-size: 1.5rem;
                }
                .Tags2{
                    font-size: 1.3rem;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
            h1{
                font-size: 2rem;
            }
            h3{
                font-size: 1.5rem;
            }
            .inner{
                justify-content: space-around;
                .left{
                    font-size: 1.5rem;
                }
                .right{
                    font-size: 1.5rem;
                    .Innesider{
                        gap: 0.5rem;
                    }
                }
            }
        }
    }
}