*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

main{
    width: 100%;
    height: 100%;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    gap: 20px;
}

#box{
    width: 300px;
    height: 300px;
    background-color: blue;
    border: 2px solid white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    color: white;
}

#box h1{
    font-size: 70px;
    font-weight: 800;
}
#box h3{
    font-size: 20px;
    font-weight: 800;
}
#box p{
    font-size: 20px;
    font-weight: 800;
}

button{
    background-color: white;
    border: none;
    border-radius: 50px;
    font-size: 40px;
    padding: 20px;
}

button:active{
    scale: 0.95;
}