*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

main{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    
}

#Card{
    background-color: #fff;
    height: 30%;
    width: 40%;
    border-radius: 5px;
    padding: 10px 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#outer{
    width: 100%;
    height: 10%;
    background-color: rgba(128, 128, 128, 0.666);
    border-radius: 50px;
}

#inner{
    width: 0%;
    height: 100%;
    background-color: green;
    border-radius: 50px;
}

section{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
}
button{
    padding: 12px 20px;
    background-color: rgb(0, 255, 0);
    border: none;
    border-radius: 20px;
    font-size: 20px;
}
button:active{
    scale: 0.95;
}
section h3{
    font-size: 40px;
    font-weight: 300;
}

#Card>h4 span{
    color: royalblue;
}
#Card>h4{
   padding: 10px 0;
   font-size: 25px;
   font-size: 400;
}